<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oseasy.mmc.multirender">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Translucent">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="com.oseasy.mmc.multirender.OPEN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".MyIntentService"
            android:enabled="true"
            android:launchMode="singleInstance"
            android:exported="true">
            <intent-filter>
                <action android:name="com.oseasy.mmc.multirender.SERVER" />
                <action android:name="com.oseasy.mmc.multirender.OFF" />
                <action android:name="com.oseasy.mmc.multirender.ON" />
                <action android:name="com.oseasy.mmc.multirender.FULLSCREEN" />
                <action android:name="com.oseasy.mmc.multirender.WINDOW" />
                <action android:name="com.oseasy.mmc.multirender.LOG" />
                <action android:name="com.oseasy.mmc.multirender.CLOSE" />
            </intent-filter>
        </service>
    </application>

</manifest>